html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Helvetica;
  background: #000018;
  color: gainsboro;
}

#root {
  margin: 0 auto;
  padding: 80px 20px;
}

svg {
  text-align: center;
}

text {
  font-family: Helvetica;
  font-size: 14px;
  fill: gainsboro;
}

text.title {
  font-size: 22px;
  fill: Aqua;
}

.subtitle text {
  font-size: 12px;
  text-decoration: underline;
  fill: gray;
}

path.line {
  fill: none;
  stroke: blue;
  stroke-width: 3px;
}

path.area {
  fill: blue;
  opacity: 0.2;
}

.axis path,
.axis line {
  fill: none;
  stroke: slategray;
  shape-rendering: crispEdges;
}

line.x,
line.y,
circle.y {
  stroke: Aqua;
}
