.c3-line {
    stroke-width: 2px;
}

.c3-title {
    font-size: 20px;
    font-weight: bold;
}

.domain {
    stroke-width: 1.2px;
}

.tick {
    font-size: 14px;
}


.leftcol {
  position: fixed;
   left: 0%;
   overflow:hidden;
   width: 20%;
   float: left;
}

.rightcol {
   position: relative;
   width: 80%
   overflow-y: scroll;
   float:right;
}
